.reg {
  width: calc(100% - 60px);
  max-width: 500px;
  border-radius: 15px;
  border: 2px solid #5474E1;
  box-shadow: 0 0 10px #5475e177;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 70px 30px;
  position: relative;
}
.title {
  margin: 0 0 20px;
  font-size: 22px;
  line-height: 22px;
}
.label {
  width: 100%;
  text-align: left;
  margin-top: 5px;
}
.labelError {
  color: #FA7167;
}
.input {
  width: calc(100% - 20px);
  height: 40px;
  border-radius: 10px;
  border: 1px solid #4c4c4c;
  outline: none;
  font-size: 16px;
  line-height: 18px;
  padding: 0 10px;
  margin-top: 5px
}

.inputError {
  border: 1px solid #FA7167;
}

.errorText {
  color: #FA7167;
  font-size: 12px;
  margin: 0;
}

.errorTextHide {
  visibility: hidden;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.btn {
  height: 40px;
  border-radius: 10px;  
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  padding: 0 10px;
  outline: none;
}

.regBtn {
  background-color: #5475e1;
  color: white;
  border: 1px solid #5475e1;
}
.regBtn:active {
  background-color: white;
  color: black;
}

.cancelBtn {
  background-color: #FA7167;
  color: white;
  border: 1px solid #FA7167;
}
.cancelBtn:active {
  background-color: white;
  color: black;
}

.successPopup {
  width: 400px;
  height: 150px;
  background: white;
  border-radius: 10px;
  border: 1px solid rgb(31, 155, 31);
  box-shadow: 0 0 10px rgba(31, 155, 31, 0.658);
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.successPopupHide {
  display: none;
}

h2.title {
  font-size: 18px;
}

.successBtn {
  width: 80px;
  height: 40px;
  border-radius: 10px;  
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  padding: 0 10px;
  outline: none;
  background-color: rgb(31, 155, 31);
  color: white;
  border: 1px solid rgb(31, 155, 31);
}

.successBtn:active {
  background-color: white;
  color: black;
}


@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

